
<!DOCTYPE html>
<html lang="en">
<head>
<title>天度云</title>
<!-- custom-theme -->
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="天度云">
<meta name="description" content="天度云">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link href="css/basic.css" rel="stylesheet" type="text/css"/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link href="css/responsive.css" rel="stylesheet" type="text/css"/>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/wxParse.css" rel="stylesheet"/>
<link href="css/font-awesome.min.css" rel="stylesheet">
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/vue-seamless-scroll.min.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script src="js/rem.js"></script>
<!--[if IE 9]>
 <style>
    .animatedOpacity{
        opacity:1;
        }
    .sort_in{
    margin-top:0.3rem;
    }
 </style>
<![endif]-->
<style>
</style>
</head>
<div class="header"></div>
<body style="background:#f8f8f8;">
<div id="app">
    <div class="banner2">
        <img :src="mainData&&mainData.bannerImg?mainData.bannerImg[0].url:''" class="img-responsive banner_img">
    </div>
    <div class="bread">
        <div class="contain">
            <img src="images/home.png"/>
            <p class="color9">你所在的位置:<a href="index.html">首页></a>联系我们</p>
        </div>
    </div>
    <div class="content_center">
        <div class="contain">
            <div class="contact_cont">
                <div class="contact_box">
                    <ul class="contact_sort">
                        <li class="address_tit">
                            <a><img src="images/contact1.jpg"/></a>
                            <p >{{mainData.title}}</p>
                        </li>
                        <li>
                            <a><img src="images/contact2.jpg"/></a>
                            <p>{{mainData.description}}</p>
                        </li>
                        <li >
                            <a><img src="images/contact3.jpg"/></a>
                            <p>{{mainData.contactPhone}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content_center">
    <div class="contain">
        <div id="dituContent"></div>
    </div>
</div>
<div id="apps">
    <div class="content_center">
        <div class="contain">
            <div class="contact_cont">
                <div class="contact_box">
                    <div class="message">
                        <div class="companny_tlt">
                            <h2>在线留言</h2>
                            <img src="images/tlt_bg.png"/>
                        </div>
                        <div class="message_cont">
                            <div class="message_left">
                                <p>你的姓名:</p>
                                <input type="" name="" value="" v-model="submitData.title">
                            </div>
                            <div class="message_right"  >
                                <p>你的公司:</p>
                                <input type="" name="" value="" v-model="submitData.passage2">
                            </div>
                            <div class="message_left">
                                <p>你的电话:</p>
                                <input type="" name="" value=""  v-model="submitData.phone">
                            </div>
                            <div class="message_right">
                                <p>你的邮箱:</p>
                                <input type="" name="" value=""  v-model="submitData.passage1">
                            </div>
                        </div>
                        <div style="clear:both;height:1px;"></div>
                        <div class="message_textarea">
                            <p>你的留言:</p>
                            <textarea type="" name="" value="" v-model="submitData.description"></textarea>
                        </div>
                        <button class="submit" @click="submit">提交信息</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="consult" @click="contact">
        <div class="consult_cont">
            <a>
                <img src="images/consult.png"/>
            </a>
            <div class="contact_cont1" :class="contact_show?'contact_show':'contact_hide'">
                <p class="color3">联系电话:{{contactData.contactPhone}}</p>
                <p class="color3">Email:{{contactData.description}}</p>
            </div>
        </div>
    </div>
</div>

<div class="footer">
</div>
<style type="text/css">
    html,body{margin:0;padding:0;}
    .iw_poi_title {color:#333;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>

<script type="text/javascript">

    function initMap(){
        createMap();
        setMapEvent();
        addMapControl();
        addMarker();
    }
    
    function createMap(){
        var map = new BMap.Map("dituContent");
        var point = new BMap.Point(108.955322,34.328527);
        map.centerAndZoom(point,17);
        window.map = map;
    }
    
    function setMapEvent(){
        map.enableDragging();
        map.enableScrollWheelZoom();
        map.enableDoubleClickZoom();
        map.enableKeyboard();
    }
    
    function addMapControl(){ 
    var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
    map.addControl(ctrl_nav);
    var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
    map.addControl(ctrl_ove);
    var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
    map.addControl(ctrl_sca);
    }

    var markerArr = [{title:"陕西省西安市未央区未央路149号银河华庭D座2607",content:"电话:029-89569644",point:"108.955322|34.328527",isOpen:0,icon:{w:23,h:25,l:46,t:21,x:9,lb:12}}
         ];
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"transparent",
                        color:"#000",
                        cursor:"pointer",
            });
            
            (function(){
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click",function(){
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open",function(){
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close",function(){
                    _marker.getLabel().show();
                })
                label.addEventListener("click",function(){
                    _marker.openInfoWindow(_iw);
                })
                if(!!json.isOpen){
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    function createIcon(json){
        var icon = new BMap.Icon("images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();
</script>
<script type="text/javascript " src="js/bootstrap.js"></script>
<script src="js/rem.js"></script>
<script type="text/babel">
var app = new Vue({
    el: '#app',
    data: function() {
        return {
            is_toggle:false,
            menu_id:0,
            is_menu:false,
            mainData:[],
        }
    },
    created () {
        const self = this;
        self.getMainData();
        },

    methods:{
        getLabelData(){
            const self= this;
            const postData = {};
            postData.searchItem = {
              thirdapp_id:2,
              type:1,
            };
            const callback = (res)=>{
              if(res.info.data.length>0){
                self.labelData.push.apply(self.labelData,res.info.data);
                 self.menuData = window.base.findKeyFromArray(self.labelData,'title','导航')[0];
                 if(self.menuData.child.length>0){
                    self.secondData = window.base.findKeyFromArray(self.menuData.child,'title','解决方案')[0]
                 }
              }
            };
            window.base.labelGet(postData,callback); 
        },
        getMainData(){
            const  self =this;
            const postData={};
            postData.searchItem = {
              thirdapp_id:2,
            };
            postData.getBefore ={
             caseData:{
                tableName:'label',
                searchItem:{
                  title:['=',['联系我们']],
                },
                middleKey:'menu_id',
                key:'id',
                condition:'in',
              },
            };
        const callback =(res)=>{
          if(res.info.data.length>0){
            self.mainData=res.info.data[0];
            console.log('mainData',self.mainData);
          }
         
        };
       window.base.articleList(postData, callback);
      },
        menuShow: function(e) {
            var self =this;
            console.log(e);
            var dataSet = window.base.getDataSet(e);
            if(dataSet.id){
                   self.menu_id = dataSet.id;  
                }           
            console.log('dataSet',dataSet.id);          
        },
        menuShow1: function(e) {
            var self =this;
            console.log(e);
            var dataSet = window.base.getDataSet(e);
            if(dataSet.id){
                   self.menu_id = dataSet.id;  
                }           
            console.log('dataSet',dataSet.id);          
        },
        toggleMenu:function(e){
            var self = this;
            self.is_toggle = !self.is_toggle;
        },
        menu:function(e){
            var self = this;
            self.is_menu = !self.is_menu;
        },
    }
});
$(function(){
        $('.header').load('./header.html');
        $('.footer').load('./footer.html');
    });
</script>
<script type="text/babel">
var app = new Vue({
    el: '#apps',
    data: function() {
        return {
            submitData:{
                title:'',
                phone:'',
                passage1:'',
                passage2:'',
                description:'',
                thirdapp_id:2,
                },
            contactData:[],
            contact_show:false,
        }
    },
    created () {
        const self = this;
        self.getContact();
        },

    methods:{
      submit(){
            const self = this;
            var phone = self.submitData.phone;
            console.log(self.submitData)
            const pass = window.base.checkComplete(self.submitData);
            if(pass){
              if(phone.trim().length != 11 || !/^1[3|4|5|6|7|8|9]\d{9}$/.test(phone)){
                alert('手机格式不正确')
              }else{    
                self.messageAdd();       
              }
            }else{
              alert('请补全信息');
            };
          },
      messageAdd() {
            var self = this;
            var postData = {
                   data:self.submitData
            };
            var callback = (res)=>{
                if(res.solely_code==100000){
                    alert('提交成功');
                    window.location.reload()
                }else{
                    alert('网络故障')
                }
            };
            window.base.messageAdd(postData,callback);
        },
        getContact(){
            const self = this;
            const postData = {};
            postData.searchItem = {
              thirdapp_id:2
            };
            postData.getBefore = {
              aboutData:{
                tableName:'label',
                searchItem:{
                  title:['=',['客服']],
                },
                middleKey:'menu_id',
                key:'id',
                condition:'in',
              },
            };

            const callback = (res)=>{ 
              if(res.info.data.length>0){
               self.contactData = res.info.data[0];
              }
              console.log('contactData',self.contactData);
            };
            window.base.articleList(postData,callback);
          },
        contact(){
            console.log(9999);
            const self = this;
            self.contact_show = !self.contact_show;
            console.log('contact_show',self.contact_show);
          },
    }
});
</script>
<script>
    function back_top(){
     document.body.scrollTop = document.documentElement.scrollTop = 0;
     }
 </script>
</body>
</html>